body {
  background: #f2f2f2;
  width: 100%;
  height: 100vh;
  max-width: 1512 px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

header {
  background: #006dc5;
  height: 80px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 1170px;
  background-color: #006dc5;
  align-items: center;
}

.logo-container__img {
  display: flex;
  width: 230px;
  height: 60px;
  margin-top: 8px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  /* display: flex; */
  justify-content: center;
  margin-left: 16px;
  /* width: 160px;
  height: 45px; */
  background: #6fbf77;
  align-items: center;
  border-radius: 5px;
  padding: 5px 20px;
}

nav li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.first-container {
  width: 1170px;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #aed3f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.first-container__img {
  width: 1100px;
  height: 345.98px;
  background: url(../img/energia-solar-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 24px;
  padding-top: 24px;
}

.first-container__principais-colunistas {
  width: 1100px;
  height: 250px;
  background: #3686c3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 20px;
}

.first-container__principais-colunistas-title {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #f2f2f2;
}

.first-container__principais-colunistas-perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.first-container__principais-colunistas-perfil-img {
  width: 122px;
  height: 122px;
  border-radius: 100%;
  background-color: #006dc5;
  overflow: hidden;
  border: solid 6px #f2f2f2;
}

.first-container__principais-colunistas-perfil-img img {
  width: 100%;
}

.second-container {
  width: 1170px;
  height: 1050px;
  margin-left: auto;
  margin-right: auto;
  background: #aed3f2;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.second-container__articles-title {
  width: 268px;
  height: 72px;
  background: #3686c3;
  border-radius: 10px;
  margin-top: 50px;
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.second-container__articles-column {
  display: flex;
  flex-direction: row;
}

.second-container__articles-column_left-item {
  width: 570px;
  height: 200px;
  background: #3686c3;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second-container__articles-column_left-item-img-01 {
  width: 250px;
  height: 160px;
  background: url(../img/left-01.jpg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_left-item-img-02 {
  width: 250px;
  height: 160px;
  background: url(../img/left-2.jpg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_left-item-img-03 {
  width: 250px;
  height: 160px;
  background: url(../img/left-3.jpeg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_left-item-img-04 {
  width: 250px;
  height: 160px;
  background: url(../img/left-4.jpeg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_right-item {
  width: 570px;
  height: 200px;
  background: #3686c3;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.second-container__articles-column_right-item-img-01 {
  width: 250px;
  height: 160px;
  background: url(../img/right-01.jpeg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_right-item-img-02 {
  width: 250px;
  height: 160px;
  background: url(../img/right-02.jpeg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_right-item-img-03 {
  width: 250px;
  height: 160px;
  background: url(../img/right-03.jpeg);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_right-item-img-04 {
  width: 250px;
  height: 160px;
  background: url(../img/right-04.webp);
  background-size: cover;
  border-radius: 10px;
}

.second-container__articles-column_left-item-desc_title,
.second-container__articles-column_right-item-desc_title {
  font-size: 24px;
  font-weight: bold;
}

.second-container__articles-column_left-item-desc,
.second-container__articles-column_right-item-desc {
  width: 260px;
  height: 160px;
  background: transparent;
  color: #011728;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.third-container {
  width: 1170px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background: #aed3f2;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -2;
}

.design {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.third-container__title {
  width: 680px;
  height: 140px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  transform: translate(0px, -350px);
  margin-top: 60px;
}

.circulo-borda {
  position: absolute;
  width: 450px;
  height: 450px;
  border: solid 20px #f2b705;
  border-radius: 100%;
}

.circulo-maior {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #f2b705;
  border-radius: 100%;
}

.circulo-menor-1 {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(0px, -240px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-2 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(170px, -170px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-3 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(170px, 170px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-4 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(-170px, 170px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-5 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(0px, 240px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-6 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(-170px, -170px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-7 {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(-240px, 0px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.circulo-menor-8 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f2b705;
  transform: translate(240px, 0px);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.tronco-1 {
  position: absolute;
  transform: translate(0px, 150px);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}

.tronco-2 {
  position: absolute;
  transform: translate(0px, -150px);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}

.tronco-3 {
  position: absolute;
  transform: translate(120px, 0px) rotate(90deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}

.tronco-4 {
  position: absolute;
  transform: translate(-120px, 0px) rotate(90deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}
.tronco-5 {
  position: absolute;
  transform: translate(120px, 120px) rotate(-45deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -999;
}

.tronco-6 {
  position: absolute;
  transform: translate(-120px, -120px) rotate(-45deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -999;
}

.tronco-7 {
  position: absolute;
  transform: translate(-120px, 120px) rotate(45deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}

.tronco-8 {
  position: absolute;
  transform: translate(120px, -120px) rotate(45deg);
  width: 20px;
  height: 150px;
  background: #f2b705;
  z-index: -1;
}

.circulo-texto {
  font-size: 45px;
  font-weight: 700;
  z-index: 999;
}

.sun {
  width: 150px;
}

footer {
  display: flex;
  margin-top: 24px;
  color: #ffffff;
  height: 58px;
  background: #011728;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

/* Componentes */

.componentes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.componentes-container__title {
  width: 680px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  transform: translate(0px, -300px);
}
.first-componentes-container-design {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translate(-340px, 100px);
  /* z-index: 1; */
}

.first-componentes-container {
  width: 1170px;
  height: 863px;
  border-radius: 10px;
  background: #aed3f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* .second-componentes-container {
  width: 1170px;
  height: 863px;
  border-radius: 10px;
  background: #aed3f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} */

.second-componentes-container-item {
  width: 1130px;
  height: 460px;
  border-radius: 10px;
  border: solid 20px #aed3f2;
  background: #aed3f2;
  margin-top: 20px;
  display: flex;
}

.second-componentes-container__inversores {
  width: 1130px;
  height: 600px;
  border-radius: 10px;
  border: solid 20px #aed3f2;
  background: #aed3f2;
  margin-top: 20px;
  display: flex;
}

.second-componentes-container-item__text{
  width: 700px;
  height: 335px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 24px;
}

.second-componentes-container-item__text-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.second-componentes-container-item__img-01 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/painel-solar.jpg);
  background-size: cover;
}

.second-componentes-container-item__img-02 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/inversores.webp);
  background-size: cover;
}

.second-componentes-container-item__img-03 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/materiais-eletricos.webp);
  background-size: cover;
}

.second-componentes-container-item__img-04 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/disjuntor.webp);
  background-size: cover;
}

.second-componentes-container-item__img-05 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/conectores-cabeamento.webp);
  background-size: cover;
}

.second-componentes-container-item__img-06 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/estrutura.png);
  background-size: cover;
}

.second-componentes-container-item__img-07 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/medidor.jpg);
  background-size: cover;
}

.second-componentes-container-item__img-08 {
  height: 464px;
  width: 440px;
  border-radius: 10px;
  background: url(../img/monitoramento.jpg);
  background-size: cover;
}
